*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit; // To inherit box-sizing from "body" element
}



body {
    box-sizing: border-box;
    // font-family: "HarmonyOS Sans" !important;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    // font-family: "HarmonyOS Sans" !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    line-height: 0;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    cursor: pointer;
}

::placeholder {
    color: rgba(82, 79, 106, 0.34) !important;
}